/* Font family */
body {
    font-family: Arial, sans-serif; /* Ganti dengan font yang Anda inginkan */
    color: #333; /* Warna teks utama */
    margin-top: 75px;
}

/* Desain container */
.description-container {
    margin-top: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    padding: 20px; /* Tambahkan padding untuk memberi ruang di sekitar konten */
    border-radius: 10px; /* Tambahkan radius sudut untuk tampilan yang lebih halus */
    background-color: #de994a; /* Tambahkan warna latar belakang */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan untuk menonjolkan konten */
    color: #333; /* Warna teks dalam container */
}

/* Menampilkan deskripsi */
.description-container.show {
    opacity: 1;
    visibility: visible; /* Pastikan terlihat saat ditampilkan */
}

